@charset "utf-8";
#title {
	font-size: large;
	color: #FFFFFF;
}
#Logo {
	clear: both;
	height: 165px;
	width: 728px;
	margin-right: auto;
	margin-left: auto;
}#text {
	clear: both;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
}
#player {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 680px;
}
